<%= erb :header %>
<main>
  <div class="inner">
    <div class="content-list">
      <div class="content-item-left">
        <%= erb :postarea%>
      </div>
      <div class="content-item-right">
        <%= erb :timeline%>
      </div>
    </div>
  </div>
</main>
<%= erb :footer %>
