login
<form method="POST" action="./login">
ID  ：  <input type="text" name="id">
pass：  <input type="passwd" name="pass">
  <input type="submit" value="送信">
</form>
<%= @error%>
<a href = "./new">sign in</a>

