sign in
<form method="POST" action="./new">
ID  ：  <input type="text" name="id">
pass：  <input type="passwd" name="pass">
  <input type="submit" value="送信">
</form>
<%= @message%>

<a href = "/">login</a>
